html * {
    font-family: "Roboto", Sans-serif;
    
}

h1 {    
    color: #000;
}

#colleague {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr
}

.datagrid {
    grid-column: 2;
}

.datainput {
    grid-column: 1;
}

#standards-container {
    grid-column: 2;
    width: 50%;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    }
    
th, td {
    padding: 8px;
    border: 1px solid #ccc;
}

.index-textbox {
    background-color:#fff ;
    font-size: 16px;  
}

.index-label {
    font-size: 16px;  
}

.button {
    border-radius: 4px;
    background-color: #F28E24;
    padding: 15px 30px;
    border-radius: 4xp;  
    font-size: 16px;  
    color: white;
}

#service-col1 {
    width: 10%;
}
#service-col2 {
    width: 80%;   
}
#service-col3 {
    width: 10%;
}
.multi-line {
    text-align: justify; 
}

