#colleague {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr
}

.datagrid {
    grid-column: 2;
}

.datainput {
    grid-column: 1;
}

#standards-container {
    grid-column: 2;
    width: 50%;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    }
    
th, td {
    padding: 8px;
    border: 1px solid #ccc;
}
.remove-btn {
    padding: 4px 8px;
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
}
.add-btn {
    margin-bottom: 10px;
    padding: 6px 12px;
    background-color: #2ecc71;
    color: white;
    border: none;
    cursor: pointer;
}
.submit-btn {
    margin-bottom: 10px;
    padding: 6px 12px;
    background-color: #2c4bd4;
    color: white;
    border: none;
    cursor: pointer;
}
.reset-btn {
    margin-bottom: 10px;
    padding: 6px 12px;
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
}

#service-col1 {
    width: 10%;
}
#service-col2 {
    width: 80%;   
}
#service-col3 {
    width: 10%;
}
.multi-line {
    text-align: justify; 
}