<html lang="en">
    <head>
        {% block head %}
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <img src="{{ url_for('static', filename='media/logos/CS Colour Logo (orange wording).png') }}" alt="CS Logo" class="logo">            
            <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
            <title>CS Document Generator</title>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="flash {{ category|e }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        {% endblock %}
    </head>

    <body>
        
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
            {% endblock %}
        </div>
    </body>
</html>