{% extends "base.html" %}
{% block title %}CS Contract Generator v2{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<h1>Service Standards</h1>

{% if session['sid'] %}
    <div>
        <strong>Service ID:</strong> {{ session['sid'] }}
    </div>
    <br>
{% endif %}

<form action="/download_client_contract" method="post">

    <label for="AgreementDate" class="index-label"><strong>Agreement Date</strong></label>
    <div>
        <input type="date" name="AgreementDate" placeholder="Agreement Date" required>    
    </div>
    <input type="submit" class="small-button" id="submit-btn" value="Submit">
    <a href="{{ url_for('index') }}" class="small-button">Back</a>
    
    
</form>

{% endblock %}