{% extends "base.html" %}
{% block title %}CS Contract Generator v2{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<h1>Service Standards</h1>

{% if session['sid'] %}
    <div>
        <strong>Service ID:</strong> {{ session['sid'] }}
    </div>
    <br>
{% endif %}

<form action="/download_excel" method="post">

    <input type="date" name="AgreementDate" placeholder="Agreement Date" required>
    <input type="submit" class="submit-btn" id="submit-btn" value="Submit">
    <a href="{{ url_for('index') }}" class="submit-btn">Back</a>
    
    
</form>



{% endblock %}