<!DOCTYPE html>

{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<h1>Client MSA</h1>

<div class="clientgrid">
    <div> <!-- Left column -->
        <form id = "submit_client_msa" action="/download_client_msa" method="post">
            <div>
                <label for="AgreementDate" class="index-label"><strong>Agreement Date</strong></label>    
                <div>        
                    <input type="date" name="AgreementDate" placeholder="Agreement Date" value="{{ contract['AgreementDate'] if contract and contract.get('AgreementDate') else '' }}" required>
                </div>
            </div>
            <div>
                <label for="clientname" class="index-label"><strong>Client</strong></label>
                <div>
                    <input type="text" id="clientname" name="clientname" placeholder="Type a client name..." autocomplete="off" class="name-textbox" value="{{ contract['companyname'] if contract and contract.get('companyname') else '' }}" required>
                        <div id="suggestions"></div>
                </div>
                <input type='hidden' name='clientId' id="clientId" value="{{ contract['companyid'] if contract and contract.get('companyid') else '' }}">
            </div>
            <div>
                <input type="submit" name="btSumbit" class="button" id="submit-btn" value="Submit" required>
                <a href="{{ url_for('views.index') }}" class="button">Back</a>
            </div>
        </form>
    </div>
    <div> <!-- Right column -->        
        <div>
            <label for="RegNumber" class="index-label"><strong>Company Registration Number</strong></label>    
            <div>
                <input type="text" id="RegNumber" name="RegNumber" placeholder="Company Number" value="{{ contract['companyregistrationnumber'] if contract and contract.get('companyregistrationnumber') else '' }}" required form="submit_client_msa">                    
            </div>
        </div>
        <div>
            <label for="RegAddress" class="index-label"><strong>Registered Office</strong></label>    
            <div>
                <input type="text" id="RegAddress" name="RegAddress" placeholder="Registered Office Address" class="address-textbox" value="{{ contract['companyaddress'] if contract and contract.get('companyaddress') else '' }}" required form="submit_client_msa">
            </div>
        </div>    
        <div>
            <label for="Jurisdiction" class="index-label"><strong>Legal jurisdiction</strong></label>    
            <div>
                <input type="text" id="Jurisdiction" name="Jurisdiction" placeholder="Jurisdiction" class="address-textbox" \
                    value="{{ contract['companyjurisdiction'] if contract and contract.get('companyjurisdiction') else '' }}" required form="submit_client_msa">
            </div>
        </div>    

        <form action="/submit_client_msa" method="post"></form>
            <div>
                <label for="contactname" class="index-label"><strong>Client Contact</strong></label>    
                <div>
                    <input type="text" id="contactname" name="contactname" placeholder="Begin typing a contact name..." autocomplete="off" class="name-textbox" \
                        value="{{ contract['contactname'] if contract and contract.get('contactname') else '' }}" required >
                        <div id="contactsuggestions"></div>
                </div>
                <input type='hidden' name='contactId' id="contactId" value="{{ contract['contactid'] if contract and contract.get('contactid') else '' }}">
            </div>
            <div>
                <label for="contactTitle" class="index-label"><strong>Job Title</strong></label>
                <div>
                    <input type="text" name="contactTitle" placeholder="Contact job title" \
                        value="{{ contract['contacttitle'] if contract and contract.get('contacttitle') else '' }}" required >
                </div>
            </div>
            <div>
                <label for="contactEmail" class="index-label"><strong>Email address</strong></label>
                <div>
                    <input type="email" name="contactEmail" placeholder="Contact email address" \
                        value="{{ contract['contactemail'] if contract and contract.get('contactemail') else '' }}" required >
                </div>
            </div>
            <div>
                <label for="contactPhone" class="index-label"><strong>Phone</strong></label>
                <div>
                    <input type="tel" name="contactPhone" placeholder="Contact phone number" \
                        value="{{ contract['contactphone'] if contract and contract.get('contactphone') else '' }}" required >
                </div>
            </div>
        </form>
    </div>
</div>
</form>

<script>
    $(document).ready(function() {
        // Client name suggestions
        $("#clientname").on("input", function() {
            let query = $(this).val();
            if (query.length > 2) {
                $.getJSON("/searchclients", { q: query }, function(data) {
                    const $sugs = $("#suggestions").empty();
                    data.forEach(function (item) {
                        const $row = $('<div class="client-suggestion"></div>')
                        .text(item.clientName)
                        .data({
                            clientEmail: item.clientEmail || "",
                            clientPhone: item.clientPhone || "",
                            clientRegNo: item.clientRegNo || "",
                            clientAddress: item.clientAddress || "",
                            clientId: item.clientId || "",
                            clientJurisdiction: item.clientJurisdiction || ""

                        });
                        $sugs.append($row);
                    });
                });
            } else {
                $("#suggestions").empty();
            }
        });

        $("#suggestions").on("click", "div", function() {
            $("#clientname").val($(this).text());
            $("input[name='clientId']").val($(this).data("clientId"));
            $("input[name='RegNumber']").val($(this).data("clientRegNo"));
            $("input[name='RegAddress']").val($(this).data("clientAddress"));
            $("input[name='Jurisdiction']").val($(this).data("clientJurisdiction"));
            $("#suggestions").empty();
        }); 
       

        // Contact name suggestions
        $("#contactname").on("input", function() {
            let query = $(this).val();
            if (query.length > 2) {
                $.getJSON("/searchcontacts", { q: query, client: $("#clientname").val()}, function(data) {
                    
                    const $sugs = $("#contactsuggestions").empty();   
                    data.forEach(function (item) { // doesn't seem to return anything?
                        const $row = $('<div class="contact-suggestion"></div>')
                        .text(item.contactName)
                        .data({
                            contactEmail: item.contactEmail || "",
                            contactPhone: item.contactPhone || "",
                            contactId: item.contactId || "",
                            contactTitle: item.contactTitle || ""
                        });
                        $sugs.append($row);
                    });
                });
            } else {
                $("#contactsuggestions").empty();
            }
        });


        $("#contactsuggestions").on("click", ".contact-suggestion", function() {
            $("#contactname").val($(this).text());
            console.log("Selected contactId:", $(this).data("contactId"));
            // Populate phone and email fields
            $("input[name='contactId']").val($(this).data("contactId"));
            $("input[name='contactEmail']").val($(this).data("contactEmail"));
            $("input[name='contactPhone']").val($(this).data("contactPhone"));
            $("input[name='contactTitle']").val($(this).data("contactTitle"));
            $("#contactsuggestions").empty();
        });   


        // Fetch button
        $("#fetch-btn").on("click", function(e) {
                e.preventDefault();
                let clientName = $("#clientname").val();
                $.ajax({
                    type: "POST",
                    url: "/chfetch",
                    data: { clientname: clientName },
                    success: function(data) {
                        $("#RegNumber").val(data.regnumber || "");
                        $("#RegAddress").val(data.address || "");
                    }
                });
            });        
    });

</script>

{% endblock %}