<!DOCTYPE html>

{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<h1>Colleague Data</h1>

<div class="c7grid">
    
    <!-- Left Column: Inputs and Buttons -->
    <div>           
        <form action="/savecolleaguedata" method="post">
            <input type="submit" value="Validate" name="btSave" class="button"/>            
            <a href="{{ url_for('index') }}" class="button">Back</a>
        </form>            
    </div>

    <!-- Right Column: ServiceContract Data -->
    <div>
        
            {% if contractdata %}
                <h2>Service Contract Data</h2>
                
                    <textarea readonly rows="20" cols="80" class="datagrid">
Service ID: {{ contractdata['sid'] }}
Service Name: {{ contractdata['servicename'] }}

Candidate Name: {{ contractdata['candidateName'] }}
Candidate Address: {{ contractdata['candidateaddress'] }}
Candidate Email: {{ contractdata['candidateemail'] }}
Candidate Phone: {{ contractdata['candidatephone'] }}
Candidate Ltd Company Name: {{ contractdata['candidateltdname'] }}
Candidate Ltd Company Registration Number: {{ contractdata['candidateltdregno'] }}
Candidate Ltd Company Legal Jurisdiction: {{ contractdata['candidatejurisdiction'] }}

Client Name: {{ contractdata['companyname'] }}
Client Address: {{ contractdata['companyaddress'] }}
Client Email: {{ contractdata['companyemail'] }}
Client Phone: {{ contractdata['companyphone'] }}
Client Registration Number: {{ contractdata['companyregistrationnumber'] }}
Client Legal Jurisdiction: {{ contractdata['companyjurisdiction'] }}

Client Contact Name: {{ contractdata['contactname'] }}
Client Contact Address: {{ contractdata['contactaddress'] }}
Client Contact Email: {{ contractdata['contactemail'] }}
Client Contact Phone: {{ contractdata['contactphone'] }} 
Client Contact Title: {{ contractdata['contacttitle'] }}

Job Title: {{ contractdata['jobtitle'] }}
Start Date: {{ contractdata['startdate'] }}
End Date: {{ contractdata['enddate'] }}
Duration: {{ contractdata['duration'] }}
Notice Period: {{ contractdata['noticeperiod'] }}
Notice Period Units: {{ contractdata['noticeperiodunit'] }}

Contract Rate: {{ contractdata['fees'] }}
Rate Currency: {{ contractdata['feecurrency'] }}
Client Charges: {{ contractdata['charges'] }}
Charge Currency: {{ contractdata['chargecurrency'] }}

C7 Requirement ID: {{ contractdata['requirementid'] }}
C7 Candidate ID: {{ contractdata['candidateId'] }}
C7 Placement ID: {{ contractdata['placementid'] }}
C7 Company ID: {{ contractdata['companyid'] }}
C7 Contact ID: {{ contractdata['contactid'] }}
                    </textarea>
                    <br>
                
            {% endif %}
        
    </div>
</div>

{% endblock %}