<!DOCTYPE html>

{% extends "base.html" %}
{% block title %}CS Contract Generator v2{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<h1>Colleague Data</h1>

<div style="display: grid; grid-template-columns: 1fr 3fr; gap: 32px;">
    <!-- Left Column: Inputs and Buttons -->
    <div>
        {% if session['sid'] %}
            <p><strong>Service ID:</strong> {{ session['sid'] }}<p>
            
            <form action="/" method="get">
                <input type="submit" value="Save" name="btSave" class="submit-btn"/>
            </form>
        {% else %}
            <p>Please set a Service ID to view or edit data.</p>

            <form action="/" method="get">
                <input type="submit" value="Back" name="btBack" class="submit-btn"/>
            </form>
        {% endif %}
    </div>

    <!-- Right Column: ServiceContract Data -->
    <div>
        {% if session['sid'] %}            
            {% if contractdata %}
                <h2>Service Contract Data</h2>
                {% for line in contractdata %}
                    <textarea readonly rows="10" cols="80" class="datagrid">
Service ID: {{ line.sid }}
Service Name: {{ line.servicename }}
Company Name: {{ line.companyname }}
Company Address: {{ line.companyaddress }}
Company Email: {{ line.companyemail }}
Company Phone: {{ line.companyphone }}
Company Registration Number: {{ line.companyregistrationnumber }}
                    </textarea>
                    <br>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}