<!DOCTYPE html>

{% extends "base.html" %}
{% block title %}CS Contract Generator v2{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<h1>Home</h1>

<!-- Service ID -->
{% if session['sid'] %}
    <div>
        <form action="clearsession" method="get">
            <strong>Service ID:</strong> {{ session['sid'] }} 
            <input type="submit" value="RESET" class="reset-btn"/>
        </form>
    </div>
    <br>
{% else %}
<div>
    <form action="{{ url_for('save_sid') }}" method="post">
        <label for="sid-input"><strong>Service ID:</strong></label>
        <input type="text" id="sid-input" name="sid" class="sid-input"/>    
        <input type="submit" value="Set" class="submit-btn"/>
    </form>
</div>
{% endif %}
<br>

<div> 
    <form action="colleaguedata" method="get">
        <input type="submit" value="Colleague Data" class="submit-btn"/>
    </form>
    <br>
    <form action="servicestandards" method="get">
        <input type="submit" value="Service Standards" class="submit-btn"/>
    </form>
    <br>
    <form action="servicearrangements" method="get">
        <input type="submit" value="Service Arrangements" class="submit-btn"/>
    </form>
    <br>
    <form action="preparecontract" method="get">
        <input type="submit" value="Prepare contract" class="add-btn"/>
    </form>
</div>

{% endblock %}