{% extends "base.html" %}
{% block title %}CS MSA Generator{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<h1>Candidate MSA</h1>

<form action="/download_sp_msa" method="post">
    <label for="AgreementDate" class="index-label"><strong>Agreement Date</strong></label>
    <div>
        <input type="date" name="AgreementDate" placeholder="Agreement Date" required>
    </div>

    <label for="CandidateName" class="index-label"><strong>Name</strong></label>    
    <div>
        <input type="text" name="CandidateName" placeholder="Candidate Name" required>
    </div>
    <br>
    <label for="CandidateEmail" class="index-label"><strong>Email address</strong></label>    
    <div>
        <input type="email" name="CandidateEmail" placeholder="Candidate email address" required>
    </div>
    <br>
    <label for="CandidatePhone" class="index-label"><strong>Phone</strong></label>    
    <div>
        <input type="tel" name="CandidatePhone" placeholder="Candidate phone number" required>
    </div>
    <br>
    <label for="CandidateLtdCo" class="index-label"><strong>Ltd Company Name</strong></label>    
    <div>
        <input type="text" name="CandidateLtdCo" placeholder="Ltd Company Name" required>
    </div>
    <br>
    <label for="CandidateLtdNo" class="index-label"><strong>Ltd Company Registration Number</strong></label>    
    <div>
        <input type="text" name="CandidateLtdNo" placeholder="Registration Number" required>
        <input type="submit" class="sm-button" id="validate-btn" value="Validate">
    </div>
    <br>
    <label for="RegAddress" class="index-label"><strong>Registered Office</strong></label>    
    <div>
        <input type="text" name="RegAddress" placeholder="Registered Office Address" class="address-textbox" readonly>
    </div>
    <br>
    <label for="AgreementDate" class="index-label"><strong>Agreement date</strong></label>    
    <div>
        <input type="date" name="AgreementDate" placeholder="Agreement Date" required>
    </div>
    <br>
    <div>
        <input type="submit" class="button" id="submit-btn" value="Submit">
        <a href="{{ url_for('index') }}" class="button">Back</a>
    </div>
</form>



{% endblock %}