<!DOCTYPE html>

{% extends "base.html" %}

{% block head %}
    {{ super() }}    
{% endblock %}

{% block content %}

<h1>Service Provider NDA</h1>

<form action="/download_sp_nda" method="post">
    <div class="clientgrid">
        <div> <!-- Left column -->        
            <div>
                <label for="AgreementDate" class="index-label"><strong>Agreement Date</strong></label>
                <div>
                    <input type="date" id="AgreementDate" name="AgreementDate" placeholder="Agreement Date" \
                        value="{{ contract['AgreementDate'] if contract and contract.get('AgreementDate') else '' }}" required>
                </div>
            </div>
            <div>
                <label for="candidate-name" class="index-label"><strong>Name</strong></label>    
                <div>
                    <input type="text" id="candidate-name" name="candidate-name" placeholder="Begin typing a surname..." autocomplete="off" \
                        class="name-textbox" value="{{ contract['candidateName'] if contract and contract.get('candidateName') else '' }}" readonly>                    
                    <div id="suggestions"></div>
                </div>        
            </div>
            <div>
                <input type='hidden' name='candidateId' id="candidateId">
            </div>
            <div>
                <input type="submit" name="action" value="Preview" class="button" id="preview-btn">
                <input type="submit" name="action" value="Submit" class="button" id="submit-btn">
                <a href="{{ url_for('views.index') }}" class="button">Back</a>
            </div>        
        </div>
        
        <div> <!-- Right column -->        
            <div>
                <label for="candidate-email" class="index-label"><strong>Email address</strong></label>    
                <div>
                    <input type="email" name="candidate-email" id="candidate-email" placeholder="SP email address" class="name-textbox"\
                        value="{{ contract['candidateemail'] if contract and contract.get('candidateemail') else '' }}" required>
                </div>
            </div>    
            <div>
                <label for="address" class="index-label"><strong>Address</strong></label>    
                <div>
                    <input type="text" name="address" id="address" placeholder="SP Address" class="address-textbox" \
                        value="{{ contract['candidateaddress'] if contract and contract.get('candidateaddress') else '' }}" \
                        readonly>
                </div>
            </div>                
        </div>
    </div>
</form>

{% endblock %}